@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    /* min-height: 100vh; */
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
}


h1 {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;;
    margin-bottom: 75px;
}

ul {
    justify-content: center;

    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 75px;
    /* separación entre contenedores */
}



li.pick-one button {
    background: none;
    border: 2px solid black;
    font-family: 'Roboto Mono', monospace;
    height: 400px;
    width: 350px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li.pick-one button p {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 10px;
}

li.pick-one button:hover {
    cursor: pointer;

    border: 10px solid #FFB800;
}

li.pick-one img {
    max-height: 260px;
    max-width: 290px;
}




/* Winner Page */
.winner.you-win {
    background: url('../images/background-you-win.svg') left top no-repeat;
    background-size: auto 100%;
    min-height: 100vh;
}

.winner.computer-wins {
    background: url('../images/background-computer-wins.svg') right top no-repeat;
    background-size: auto 100%;
    
}

.winnerTitle{
    margin-top: 0;
    padding-top: 10px;
}


.winner .wrapper {
    display: flex;
    gap: 200px;
    position: relative;
    text-align: center;
}

.winner img {
    mix-blend-mode: multiply;
    
}

.computer-pick img,
.your-pick img {
    max-height: 450px;
    max-width: 450px;
} 

.computer-pick{
    position: relative;
    left: 12%;
    
}

.your-pick{
    position: relative;
    right: -12%;
    
}
.computer-pick img {
    transform: scaleX(-1); /* para voltear la imagen  */
}

.play-again {
    position: absolute;
    left: 50%; /* se centra */
    transform: translateX(-50%);
    bottom: 0; /* para que el botom se vaya a bajo */
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    border: 2px solid black;
    background: none;
    padding: 15px 85px;
    cursor: pointer;
    margin-bottom: 5px;
}

.play-again:hover {
    background: black;
    color: white;
}


.oculto{
    display: none;
}
